body {
    padding: 0;
    margin: 0;
}

:root {
    --space-block-width: 0px
}

@font-face {
    font-family: 'Edu NSW';
    src: url('/font/Edu_NSW/EduNSWACTHandPre-VariableFont_wght.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraCode';
    src: url('/font/Fira_Code/FiraCode-VariableFont_wght.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraCode Bold';
    src: url('/font/Fira_Code/FiraCode-VariableFont_wght.ttf') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FiraCode Bold Italic';
    src: url('/font/Fira_Code/FiraCode-VariableFont_wght.ttf') format('woff2');
    font-weight: bold;
    font-style: italic;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 20px;
}

.header-container h1 {
    font-family: 'FiraCode Bold';
    margin-left: 30px;
}

.header-container .system-info-container {
    font-family: 'FiraCode Bold', serif;
}

.page-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.53);
    z-index: 100;
    transition: all 0.5s ease-in-out;
}
.page-cover.hidden{
    pointer-events: none;
    opacity: 0;
}

.upload-container {
    width: 70px;
    height: 70px;
    background: springgreen;
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 102;
    cursor:pointer;
    transition: all 0.2s ease-in-out;
}

.upload-form.hidden {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transform: translate(calc(100vw / 2 - 100% - 20px), calc(100vh / 2 - 100% - 20px));
}

.upload-form {
    overflow: hidden;
    width: 500px;
    height: 300px;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 101;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
}
.upload-container:hover{
    box-shadow: 0 0 10px springgreen;
}

.space-info-container,
.system-name-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.space-info-detail-container {
    border: 2px solid springgreen;
    width: 200px;
    height: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.space-info-detail-container::before {
    content: "";
    display: block;
    height: inherit;
    border-radius: inherit;
    background: springgreen;
    width: var(--space-block-width);
    transition: all 0.5s ease-in-out;
}

.main-container {
    font-family: 'FiraCode Bold';
    width: 80vw;
    height: 80vh;
    min-height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.navigator-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
    box-sizing: border-box;
    width: 80%;
    padding-bottom: 2px;
    border-bottom: 2px solid gray;
}

.navigator-item {
    font-family: 'FiraCode Bold Italic';
    width: fit-content;
    height: 20px;
    border-right: 2px solid gray;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 2px;
    transition: 0.3s;
}

.navigator-item:hover {
    background-color: rgba(128, 128, 128, 0.371);
}

.content-container {
    width: 100%;
    height: 80%;
    overflow-y: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}
.upload-container:active{
    background: #1fd178;
    box-shadow: 0 0 20px springgreen;
}
.file-item {
    width: 80%;
    height: 40px;
    cursor: pointer;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.216);
    box-sizing: border-box;
    transition: 0.3s;
}

.file-item:hover {
    background-color: rgba(128, 128, 128, 0.5);
}

.file-item.file {
    font-family: 'FiraCode';
    background-color: rgba(255, 255, 255, 0);
    color: blue;
}


.file-icon {
    width: 20px;
    height: 20px;
    padding: 2px;
    opacity: 0.6;
    transition: 0.3s;
}

.file-icon:hover {
    opacity: 1;
}