<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.river.file_server.mapper.MetaDataMapper">

    <!-- addMetaData -->

    <insert id="addMetaData"> insert into t_meta_data(name_prefix, hash, name_subfix, size,
        add_time, add_user, add_host) values (#{namePrefix}, #{hash}, #{nameSubfix}, #{size},
        #{addTime}, #{addUser}, #{addHost}) </insert>

    <!-- getMetaDataByFixedFileNamePrefix -->

    <select id="getMetaDataByFixedFileNamePrefix"
        resultType="org.river.file_server.pojo.entity.Metadata"> select * from t_meta_data where
        hash = #{hash} </select>
</mapper>